/* Base style */
@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'base/animation';
@import 'base/reset';

/* Blocks style */
@import 'blocks/**/*.scss';

body {
  font-family: $fontFamily;
  font-size: 14;
  font-weight: 400;
  line-height: 1.2;
  color: $dark;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
