/* Text */
$fontFamily: 'Roboto', sans-serif;
$mainFontSize: 15px;
$mainFontWeight: 400;
$mainLineHeight: 1.6;

/* Colors */
$white: #ffffff;
$black: #000000;

$dark: #263238;
$bright: #e74c3c;
$primary: #8bc34a;
$light: #f4f6f5;

$icon: #a0a0a0;
$text: #546e7a;
